In [2]:
import pandas as pd

In [6]:
data = pd.read_csv("casas_nuroa.csv")

In [7]:
data = data.drop_duplicates()
data["title"] = data["seller"]

In [8]:
data["seller"] = "Nuroa"

In [9]:
# data.to_csv("casas_nuroa.csv", index=False)

In [10]:
df = pd.read_csv("casas_mitula.csv")
df = df.drop_duplicates()

In [11]:
datos_concatenados = pd.concat([data, df], ignore_index=True)

In [12]:
datos_concatenados.isnull().sum()

title                0
seller               0
property_type        1
address              1
price                1
bedrooms            20
bathrooms           22
built_area          41
land_area           47
description          1
publication_date     1
dtype: int64

In [13]:
len(datos_concatenados)

267

In [14]:
len(datos_concatenados[(datos_concatenados["land_area"].isnull()) | (datos_concatenados["built_area"].isnull()) | (datos_concatenados["bedrooms"].isnull()) | (datos_concatenados["bathrooms"].isnull())])

76

In [4]:
len(pd.read_csv("casas_nuroa_2.csv").drop_duplicates())

151