In [10]:
import pandas as pd

In [11]:
# Se cargan los dataframes con los datos limpios
arlette = pd.read_csv("/home/mario/Proyectos_Mario/proyecto_alonso/datos_limpios/datos_arlette.csv")
lamudi = pd.read_csv("/home/mario/Proyectos_Mario/proyecto_alonso/datos_limpios/datos_lamudi.csv")
mercadoLibre = pd.read_csv("/home/mario/Proyectos_Mario/proyecto_alonso/datos_limpios/datos_mercadoLibre.csv")
mitula = pd.read_csv("/home/mario/Proyectos_Mario/proyecto_alonso/datos_limpios/datos_mitula.csv")
nocnok = pd.read_csv("/home/mario/Proyectos_Mario/proyecto_alonso/datos_limpios/datos_nocnok.csv")
nuroa = pd.read_csv("/home/mario/Proyectos_Mario/proyecto_alonso/datos_limpios/datos_nuroa.csv")

In [12]:
# Se crea una lista con el orden en el que se quieren las columnas
# para cada dataframe
# orden_columnas = ["title", "seller", "property_type", 
#                   "address", "zip_code", "price", 
#                   "bedrooms", "bathrooms", "built_area", 
#                   "land_area", "description", "parking"]

orden_columnas = ["description", "price", "zip_code", "bedrooms", "bathrooms", 
                  "built_area", "land_area", "parking"]

# Se reordenan las columans en todos los dataframes
arlette = arlette[orden_columnas]
lamudi = lamudi[orden_columnas]
mercadoLibre = mercadoLibre[orden_columnas]
mitula = mitula[orden_columnas]
nocnok = nocnok[orden_columnas]
nuroa = nuroa[orden_columnas]

In [13]:
# Se crea un dataframe concatenando los datos de todos los dataframes
df = pd.concat([arlette, lamudi, mercadoLibre, mitula, nocnok, nuroa], 
               ignore_index=True)

In [14]:
df = df.drop_duplicates()
df = df.reset_index(drop="first")

In [17]:
len(df)

246

In [16]:
len(df.dropna())

175