In [214]:
import pandas as pd

In [215]:
# Se cargan los dataframes con los datos limpios
arlette = pd.read_csv("/home/mario/Proyectos_Mario/proyecto_alonso/datos_limpios/datos_arlette.csv")
lamudi = pd.read_csv("/home/mario/Proyectos_Mario/proyecto_alonso/datos_limpios/datos_lamudi.csv")
mercadoLibre = pd.read_csv("/home/mario/Proyectos_Mario/proyecto_alonso/datos_limpios/datos_mercadoLibre.csv")
mitula = pd.read_csv("/home/mario/Proyectos_Mario/proyecto_alonso/datos_limpios/datos_mitula.csv")
nocnok = pd.read_csv("/home/mario/Proyectos_Mario/proyecto_alonso/datos_limpios/datos_nocnok.csv")
nuroa = pd.read_csv("/home/mario/Proyectos_Mario/proyecto_alonso/datos_limpios/datos_nuroa.csv")

In [216]:
# Se crea una lista con el orden en el que se quieren las columnas
# para cada dataframe
# orden_columnas = ["title", "seller", "property_type", 
#                   "address", "zip_code", "price", 
#                   "bedrooms", "bathrooms", "built_area", 
#                   "land_area", "description", "parking"]

orden_columnas = ["property_type", "price", "zip_code", "bedrooms", "bathrooms", 
                  "built_area", "land_area", "parking"]

# Se reordenan las columans en todos los dataframes
arlette = arlette[orden_columnas]
lamudi = lamudi[orden_columnas]
mercadoLibre = mercadoLibre[orden_columnas]
mitula = mitula[orden_columnas]
nocnok = nocnok[orden_columnas]
nuroa = nuroa[orden_columnas]

In [217]:
# Se crea un dataframe concatenando los datos de todos los dataframes
df = pd.concat([arlette, lamudi, mercadoLibre, mitula, nocnok, nuroa], 
               ignore_index=True)

In [218]:
df = df.drop_duplicates()
df = df.reset_index(drop="first")

In [219]:
df

,property_type,price,zip_code,bedrooms,bathrooms,built_area,land_area,parking
0,Casa,11000000.0,68044.0,3.0,3.0,539.0,413.0,2.0
1,Casa,2500000.0,68016.0,4.0,4.0,200.0,150.0,2.0
2,Casa,7500000.0,68040.0,3.0,3.0,399.0,230.0,2.0
3,Casa,3400000.0,68026.0,2.0,2.0,155.0,310.0,2.0
4,Casa,3500000.0,68143.0,4.0,4.0,220.0,600.0,2.0
...,...,...,...,...,...,...,...,...
153,Casa,630000.0,68120.0,3.0,2.0,400.0,335.0,1.0
154,Casa en Fraccionamiento,1600000.0,68143.0,5.0,2.0,135.0,63.0,1.0
155,Casa,4600000.0,68090.0,5.0,6.0,385.0,200.0,1.0
156,Casa,15000000.0,68034.0,10.0,10.0,479.0,479.0,5.0
157,Casa,8800000.0,68277.0,3.0,2.0,210.0,354.0,3.0